<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>OPENWEATHER_API_KEY</key>
    <string>$(OPENWEATHER_API_KEY)</string>

    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Symptom Tracker Protocol</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yourdomain.symptomtracker.protocol</string>
			</array>
		</dict>
	</array>
    
    <!-- Add these keys to your Info.plist file -->
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>WKAppBoundDomains</key>
    <array>
        <!-- Optional: Add specific domains you want to whitelist -->
    </array>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
            <key>UTTypeDescription</key>
			<string>Symptom Tracker Protocol</string>
			<key>UTTypeIdentifier</key>
			<string>com.yourdomain.symptomtracker.protocol</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>protocol</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
